body {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
h1{
    font-family: 'Georgia', sans-serif;
    font-weight: 700;
    font-size: 30px;                                 
}
a{
    color: #0645ad;
}
.a1{
    color: #ba0000;
}
.img{
    float:left;
    margin: 10px 10px 10px 0; 
}
.test{
    color: blue;
}
blockquote{
    background-color: #eaecf0;
}
ul li {
    list-style-type: circle;
}
/* nav > ol {
    background-color: #ff2929;
    border-radius: 10px;
    color: aliceblue;
    width: 300px;
} */

a:hover{
    color: #ff2929;
}

.contain{
    width: 320px;
    height: auto;
    background-color: #f946b1;
    border-radius: 20px;
    margin-top: 4%;
    padding: 10px;
}

.kubick{
    width: 100px;
    height: 100px;
    background-color: #152a5e;
    color: #eaecf0;
    border-radius: 5px;
    text-align: center;
}